
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    list-style:none;
    font-family: 'Poppins', sans-serif
}

a {
    text-decoration:none;
    color:black;
}

/* ========
LAYOUT
=========== */

.header {
    display:flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
}

.header img {
    height: 10%;
    width: 70%;
}

.menu{
    display:flex;
}

.menu li {
    padding-left: 40px;
}


.menu li a:hover {
    background-color: #1B4C8C;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.3s;
    color:white;
}

/* ========
FLEX-BOX 1
===========*/

 main > h1 {
    text-align:center;
    margin-top: 100px;
    color: white;
    font-size: 2em;
}

span {
    color:#1B4C8C;
}

main {
    background-image: url(empresa1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    padding-top: 1px;
}

h2 {
    text-align:center;
    margin-top: 90px;
    color: white;
    font-size: 2em;
}

p {
    text-align:center;
    color:white;
    font-size: 1.5em;
}

strong{
    color:red;
}

h2 > a {
    background-color: #1B4C8C;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color:white;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration:none;
    transition:0.5s;
}

h2 > a:hover {
    letter-spacing: 6px;
}















@media (max-width: 444px) {
    img {
        height: 20%;
    }
}

@media (max-width: 512px) {
    a {
        font-size: 15px;
    }
}

